@{
    ViewBag.Title = "Búsqueda de Clientes";
}

@Styles.Render("~/Content/datatablecss")

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark" style="text-align:center">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->

<div id="VistaParcial">
    @Html.Action("Busqueda", "Clientes")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Busqueda")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatablejs")


    <script>

        $(document).ready(function () {
            DataTable()
        });


        function DataTable() {

            $("#tablaCliente").DataTable({
                "sDom": '<<"row view-filter"<"col-sm-12"<"pull-left"f><"pull-right"l>>>t<"row view-pager "<"col-sm-12"<"pull-left"i><"pull-right "p>>>>',
                "iDisplayLength": 5,
                "order": [],
                "language": {

                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",

                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                },
            });
        }

    </script>

}