@model AlquilerDeLibros.Models.AlquilerDeLibro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlquilerDeLibro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.CodigoDeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.CodigoDeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAlquiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAlquiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlquiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlquiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRealDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealDevolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
